 .container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,1,66,1) 46%, rgba(0,212,255,1) 100%);

    width: 80vw;
    height: 100vh;
    margin:  0 auto;
    text-align: center;
 }
 .caja{
    border: 5px solid rgb(0, 238, 255);
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 20px;

    padding: 10px;
    margin: 10px;

    border-radius: 50%;
    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: steelblue;
    transition: all .5s ease-in-out;

 }
 .caja:hover {
    background-color: white;
    color: green;
    cursor: pointer;
    /*transform: rotate(45deg);*/
    transform: scale(1.1);
    transform: translate(20px,10px);
    box-shadow: -40px -15px 11px 0px rgba(0,0,0,0.75);

 }

 .caja:active{
    background-color: brown;

 }